body {
    margin: 0;
    font-family: Arial, sans-serif;
}

/* INI NAVBAR */
.homes {
  padding-bottom: 200px;
  background:url(Banner-Structure.png);
  background-size: cover;

}
.container {
  display: flex;
  position: fixed;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 10px;
  color: #fff;
  margin-left: 40vh;
  z-index: 999;
  
}

.respon-logo {
  display: none;
}


.containers {
display: flex;
justify-content: end;
z-index: 99999;
align-items: center;
padding: 10px;
background-color:transparent;
color: #fff;
display: none;
}
.containers .pojok {
margin-top: 10px;
position: fixed;
}
.logo{
position: absolute;
left: 3em;
}

.navbar ul {
list-style-type: none;
margin: 0;
padding: 0;
display: flex;
}
.navbar {


position: fixed; /* Navbar menjadi tetap berada di atas */
top: 0; /* Memastikan navbar tetap di bagian atas */
width: 80%; /* Lebar navbar mengisi seluruh lebar layar */
background-color: #1E2454;
border-radius: 20px;
padding-top: 40px;
padding-bottom: 40px;
padding-left: 10px;
padding-right: 10px;
border: #BDB76B 5px solid;
display: flex;
margin-top: 10px;
margin-left: 115px;
justify-content: center;
align-items: center;
z-index: 999; /* Memastikan navbar muncul di atas konten lain */



}

.navbar ul li {
display: inline-block;
margin-right: 20px; /* Jarak antar elemen menu */
}
.content img{
  display: inline-block;
  position: absolute;
  left: -15px;
  top: -70px;
  bottom: 1000px;
}
.navbar ul li a {
color: #fff;
text-decoration: none;
font-size: 20px;
padding: 10px;
transition: all 0.3s ease; /* Animasi transisi */
}
.navbar ul li a:hover{
  background: #FF9900;
  transition: .5s;
  color: #000;
  border-radius: 10px;
}

a:hover,a.active{
  background: none;
  /* color: #0082e6; */
 }
/* .button a:hover.a.active{
  background-color: none;
} */
#sidebar {
  position: fixed;
  top: 0;
  left: -250px;
  width: 250px;
  z-index: 9999;
  height: 100%;
  background-color: #1E2454;

  transition: 0.5s;
}

.sidebar-nav ul {
  list-style-type: none;
  padding: 0;
  padding-top: 20px;
}

.sidebar-nav ul li a {
  display: block;
  padding: 10px;
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  padding-bottom: 50px;
}

.toggle-btn {
  display: none;
  font-size: 24px;
  background-color: transparent;
  border: none;
  color: #fff;
  cursor: pointer;
}

@media screen and (max-width: 1660px){
  .container {
      padding-left: 20vh;
  }
 
}

@media screen and (max-width: 1509px){
  .container {
     padding-left: 8vh;
  }
  
}

@media (max-width: 1363px){
  .container {
      padding-left: 5vh;
  }
}

@media (max-width: 1300px){
  .container {
      margin-left: 10em;
  }
}
@media (max-width: 1250px){
  .container {
      padding-left: 2vh;
      /* margin-left: 230px; */
  }
  
}

@media (max-width: 1050px){
  /* .container {
      margin-left: 10em;
  } */
  .container {
      padding-left: 2vh;
      /* margin-left: 230px; */
  }
  
}


@media (max-width: 1000px) {
  .navbar {
      display: none;
  }
  .logo {
      display: none;
  }
  .respon-logo{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    left: 30%;
    
}
  .toggle-btn {
      display: block;
  }

  #sidebar {
      left: -250px;
  }
 .homes{
  margin-top: -100px;
  padding-top: 50px;
 }
  .containers {
      display: flex;
      justify-content: end;
      /* position: fixed; */
      /* justify-content: center; */
      align-items: center;
      /* padding: 10px; */
      /* background: url(Baground_BSN.jpg); */
      color: #fff;
      /* display: none; */
  }
}
.container-structure {
  background: url(bg-service.png);
  /* padding-top: 20px; */
  margin-top: 40px;
}
.container-contact {
  max-width: 960px;
  margin: 0 auto;
  padding: 20px;
}

.contact {
  background: url(bg-Contact.png);
  margin-top: 5px;
  color: #fff;
  padding: 50px 0;
  text-align: center;
}

.contact h2 {
  margin-bottom: 20px;
  font-size: 50px;
}
.info i {
  font-size: 30px;
}
.contact p {
  font-size: 20px;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.contact input {
  width: 70%;
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 5px;
  background-color: #fca24e9d;

}

.contact textarea {
   height: 150px;
  background-color: #fca24e9d;
  border-radius: 5px;
  width: 70%;
  margin-bottom: 20px;
  padding: 10px;
}

.contact button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.contact button:hover {
  background-color: #0056b3;
}




/* .show {
  opacity: 1;
}

.slide-in {
  transform: translateY(19);
} */

/* INI STRUKTUR */
.org-chart ul {
    padding: 0;
    /* margin: 20px; */
    display: flex;
    justify-content: center;
    /* padding-top: ; */
  }
  .org-chart{
    border: #fff 5px solid;
    /* margin: 100px; */
    background-color: #ffffff;
    display: grid;
    grid-template-columns: repeat(2,2fr);
    text-align: center;
  }
  .org-chart li {
    list-style-type: none;
    text-align: center;
    /* position: relative; */
  }
  

  .jabatan {
    display: inline-block;
    margin: 10px;
    padding-top: 50px;
  }
  
  .jabatan img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 2px solid #000;
  }
  .manajemen{
    background-color: white;
    text-align: center;
    font-size: large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  .name {
    display: block;
    margin-top: 5px;
  }
  
  .jabatan:hover img {
    animation: pulse 0.5s infinite alternate;
  }
  .name {
    font-weight: 700;
  }
  .jabatan p{
    font-weight: 800;
  }
  @keyframes pulse {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(1.1);
    }
  }
  @media only screen and (max-width: 600px) {
    .org-chart ul {
      flex-direction: column;
    }
  
    .org-chart li {
      margin: 10px 0;
      position: static;
    }
  
    .org-chart li::before {
      display: none;
    }
    .org-chart img{
      width: 100px;
      height: 100px;
    }
  }

html {
  scroll-behavior: smooth;
}